*.html
*.pdf
*.rds

*.aux
*.bbl
*.blg
*.log
*.out
*.pdf

analysis.utf8.md
analysis_files/

analysis/neurons_900/figure/
analysis/pbmc4k/figure/
data/293t/
data/jurkat/
data/neuron_9k/
data/neurons_900/
data/pbmc4k/
data/t_4k/
simulations/pics-negcheck/
simulations/results-sim/
